{;; ---------------------------------------------------
 ;; Default Paths
 ;; Directories to include in the classpath to run the application
 ;; Development only paths should be defined in aliases, eg. :env/dev
 ;; Project deps.edn file superceeds this setting
 :paths ["src"]

 ;; do not use ~/.m2
 :mvn/local-repo "/home/ramblurr/.cache/maven/repository"

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"} #_()}

 :aliases
 {;; Include `dev` directory on the class path to auto-load `dev/user.clj` on REPL startup
  ;; http://practicalli.github.io/clojure/clojure-tools/configure-repl-startup.html

  ;; clojure -M:env/dev
  :env/dev
  {:extra-paths ["dev"]}

  :dev/reloaded
  {:extra-paths ["dev" "test"]
   :extra-deps  {djblue/portal               {:mvn/version "0.52.2"} ; portal data inspector
                 clj-commons/clj-yaml        {:mvn/version "1.0.27"} ; portal yaml support (optional)
                 integrant/repl              {:mvn/version "0.3.3"}
                 org.clojure/tools.namespace {:mvn/version "1.5.0"}
                 org.clojure/tools.trace     {:mvn/version "0.8.0"}
                 org.slf4j/slf4j-nop         {:mvn/version "2.0.12"}
                 com.brunobonacci/mulog      {:mvn/version "0.9.0"}
                 lambdaisland/kaocha         {:mvn/version "1.87.1366"}
                 org.clojure/test.check      {:mvn/version "1.1.1"}
                 ring/ring-mock              {:mvn/version "0.4.0"}
                 criterium/criterium         {:mvn/version "0.4.6"}}}

  :inspect/portal-cli
  {:extra-deps {djblue/portal {:mvn/version "0.52.2"}}}

  :inspect/portal-cli-cider
  {:extra-deps {djblue/portal                 {:mvn/version "0.52.2"}
                nrepl/nrepl                   {:mvn/version "1.1.1"}
                cider/cider-nrepl             {:mvn/version "0.47.1"}
                refactor-nrepl/refactor-nrepl {:mvn/version "3.10.0"}}
   :main-opts  ["-m" "nrepl.cmdline"
                "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware,portal.nrepl/wrap-portal]"]}

  :inspect/reveal-cider
  {:extra-deps {vlaaad/reveal                 {:mvn/version "1.3.282"}
                nrepl/nrepl                   {:mvn/version "1.1.1"}
                cider/cider-nrepl             {:mvn/version "0.47.1"}
                refactor-nrepl/refactor-nrepl {:mvn/version "3.10.0"}}
   :jvm-opts   ["-Dvlaaad.reveal.prefs={:theme,:dark,:font-family,\"file://var/home/ramblurr/.local/share/fonts/iosevka-extended.ttf\",:font-size,16}"]
   :main-opts  ["-m" "nrepl.cmdline"
                "--middleware" "[vlaaad.reveal.nrepl/middleware,refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}
  :outdated {;; Note that it is `:deps`, not `:extra-deps`
             :deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}}}
