{;; ---------------------------------------------------
 ;; Default Paths
 ;; Directories to include in the classpath to run the application
 ;; Development only paths should be defined in aliases, eg. :env/dev
 ;; Project deps.edn file superceeds this setting
 :paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "RELEASE"}}

 ;; do not use ~/.m2
 :mvn/local-repo "/home/ramblurr/.cache/maven/repository"

 :mvn/repos {"central"  {:url "https://repo1.maven.org/maven2/"}
             "clojars"  {:url "https://repo.clojars.org/"} #_()
             "sonatype" {:url "https://oss.sonatype.org/content/repositories/snapshots/"}}

 :aliases
 {:dev/reloaded
  {:extra-paths ["dev" "test"]
   :extra-deps  {integrant/repl              {:mvn/version "0.3.3"}
                 org.clojure/tools.namespace {:mvn/version "1.5.0"}
                 org.clojure/tools.trace     {:mvn/version "0.8.0"}
                 org.slf4j/slf4j-nop         {:mvn/version "2.0.13"}
                 lambdaisland/kaocha         {:mvn/version "1.91.1392"}
                 org.clojure/test.check      {:mvn/version "1.1.1"}
                 criterium/criterium         {:mvn/version "0.4.6"}
                 jedi-time/jedi-time         {:mvn/version "0.2.1"}
                 com.datomic/dev.datafy      {:git/sha "4a9dffb"
                                              :git/tag "v0.1"
                                              :git/url "https://github.com/Datomic/dev.datafy"}}}
  :inspect/portal-cli-cider
  {:extra-deps {djblue/portal                 {:mvn/version "RELEASE"}
                clj-commons/clj-yaml          {:mvn/version "1.0.27"} ; portal yaml support (optional)
                nrepl/nrepl                   {:mvn/version "1.2.0"}
                cider/cider-nrepl             {:mvn/version "0.49.0"}
                refactor-nrepl/refactor-nrepl {:mvn/version "3.10.0"}}
   :main-opts  ["-m" "nrepl.cmdline"
                "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware,portal.nrepl/wrap-portal]"]}

  :outdated {;; Note that it is `:deps`, not `:extra-deps`
             :deps      {com.github.liquidz/antq {:git/tag "2.8.1201", :git/sha "030d821"}}
             :main-opts ["-m" "antq.core"]}

  :check {:extra-deps {io.github.athos/clj-check
                       {:git/tag "0.1.0" :git/sha "0ca84df"}}
          :main-opts  ["-m" "clj-check.check"]}}}
