/*
 *gruvbox https://github.com/morhetz/gruvbox
*/
@define-color red       #fb4934;
@define-color green     #b8bb26;
@define-color yellow    #fabd2f;
@define-color blue      #83a598;
@define-color purple    #d3869b;
@define-color aqua      #8ec07c;
@define-color orange    #fe8019;


@define-color red-dark      #cc241d;
@define-color green-dark    #98971a;
@define-color yellow-dark   #d79921;
@define-color blue-dark     #458588;
@define-color purple-dark   #b16286;
@define-color aqua-dark     #689d6a;
@define-color orange-dark   #d65d0e;


@define-color dark0-hard       #1d2021;
@define-color dark0            #282828;
@define-color dark0-soft       #32302f;
@define-color dark1            #3c3836;
@define-color dark2            #504945;
@define-color dark3            #665c54;
@define-color dark4            #7c6f64;
@define-color gray-245         #928374;
@define-color gray-244         #928374;
@define-color light0-hard      #f9f5d7;
@define-color light0           #fbf1c7;
@define-color light0-soft      #f2e5bc;
@define-color light1           #ebdbb2;
@define-color light2           #d5c4a1;
@define-color light3           #bdae93;
@define-color light4           #a89984;
@define-color red-faded        #9d0006;
@define-color green-faded      #79740e;
@define-color yellow-faded     #b57614;
@define-color blue-faded       #076678;
@define-color purple-faded     #8f3f71;
@define-color aqua-faded       #427b58;
@define-color orange-faded     #af3a03;

* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka Comfy Fixed", "Symbols Nerd Font Mono", "Font Awesome 5 Free", monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: @aqua;
}

tooltip {
    background: @dark1;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    color: @aqua-dark;
    margin-right: 5px;
}

#workspaces button.active {
    color: @red;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: @aqua;
    border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-sink-switch,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#cpu,
#memory,
#temperature,
#idle_inhibitor,
#backlight {

    background: @dark1;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid @dark0-hard;
}

#cpu {
    border-right: 0;
}

#tray {
    border-radius: 10px 0px 0px 10px;
    border-right: 0;
    background: @dark1;
    margin-left: 10px;
}

#workspaces {
    background: @dark1;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-language {
    color: @purple;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @blue;
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
    border-left: 0px;
}

#network {
    color: @aqua;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.muted {
    color: @red;
}
#idle_inhibitor,
#pulseaudio {
    color: @blue;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio:hover:hover,
#pulseaudio.microphone:hover {
  background-color: @dark3;
}

#pulseaudio.microphone.source-muted {
    color: @red;
}

#pulseaudio.microphone {
    color: @yellow;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#custom-sink-switch {
    color: @blue;
    border-left: 0px;
    border-right: 0px;
}

#custom-weather {
    border-left: 0px;
    margin-right: 0px;
}
