// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

// Input device configuration.
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            // If this section is empty, niri will fetch xkb settings
            // from org.freedesktop.locale1. You can control these using
            // localectl set-x11-keymap.
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {}

    trackpoint {}

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="0%"
}

// https://yalter.github.io/niri/Configuration:-Layout
layout {
    gaps 10
    center-focused-column "on-overflow"
    always-center-single-column
    background-color "rgb(29, 32, 33)"
    default-column-width { proportion 0.16667; }
    preset-column-widths {
        proportion 0.16667
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    focus-ring {
        width 2
        active-gradient from="rgb(250, 189, 47)" to="rgb(214, 93, 14)" angle=180
    }
    tab-indicator {
        active-gradient from="rgb(250, 189, 47)" to="rgb(214, 93, 14)" angle=180
        inactive-gradient from="rgb(131, 165, 152)" to="rgb(69, 133, 136)" angle=180
        urgent-color   "#cc241d"
        place-within-column
        gaps-between-tabs 10
    }
}

hotkey-overlay {
  skip-at-startup
}

// No client side decorations (causes problems with wezterm)
prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/docs/img/screenshots/screenshot-%Y-%m-%d %H-%M-%S.png"

// Animation settings.
// The wiki explains how to configure individual animations:
// https://yalter.github.io/niri/Configuration:-Animations
animations {}

window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

include "outputs.kdl"
include "binds.kdl"
include "rules.kdl"
@extraIncludes@
