// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

workspace "scratch"

window-rule {
    match app-id="wezterm"
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"^1Password$"#
    block-out-from "screen-capture"
}


window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    default-column-display "tabbed"
    draw-border-with-background false
}

window-rule {
    match app-id="steam_proton" title="Roon"
    open-fullscreen true
    open-on-output "HDMI-A-1"
}

window-rule {
    match app-id="signal"
    open-maximized-to-edges true
    open-on-output "HDMI-A-1"
}

window-rule {
    match app-id="1password"
    match app-id="handy"
    open-on-output "DP-2"
    default-column-width { fixed 841; }
}

window-rule {
    match app-id=r#"emacs$"# title="GPTEL"
    open-floating true
    open-on-workspace "scratch"
    default-column-width { fixed 704; }
    default-window-height { fixed 1424; }
}
